<%- include ('partials/header.ejs') %>
    <%# Comentário em EJS%>
    <!--<%#= user %>-->
    <p style="color: darkgreen;">Bem-vindo(a) <strong><%= user %></strong> ao seu perfil!</p>
    <br>
    <ul>
      <li><a href="/">Voltar</a></li>
    </ul>
<%- include ('partials/footer.ejs') %>