<footer style="background-color: #22130c; height: 200;">
    <hr>
    <p style="text-align: center; color: #fdf0d5; font-weight: bold; margin-top: 70px;">
        FATEC Registro &reg; 2025
    </p>

</footer>
</body>
<script src="/js/script.js"></script>
</html>