body{
    margin: 0; 
    line-height: 30px;
}

li{
    list-style: none;
}

*{
    align-items: center;
}

.lista-h3{
    margin-bottom: 100px;
    margin-left: 310px;
    margin-top: 100px;
    font-weight: bold;
}

.div-tabela{
    width: 900px; 
    height: 700px; 
    background-color: #ffffff; 
    padding: 20px; 
    align-items: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); 
    margin: 0 auto; 
    border-radius: 10px; 
    margin-bottom: 80px;
}
